.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NavBar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}
.NavBar a {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

/* Active link styling */
.NavBar a.active {
  color: var(--color-brand--2);
}

/* .nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: rgb(99, 99, 241);
  padding: 10px;
}

.nav li {
  padding: 5px 10px;
}

.nav .text-white {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  display: inline-block;
}

/* Active link styling
.nav .text-white.active {
  background-color: antiquewhite;
  color: black;
  border-radius: 5px;
} */
