.nav {
  background-color: rgb(119, 151, 221);
}
.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: rgb(99, 99, 241);
  color: aqua;
  padding: 8;
}
